.main-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.sub-title {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 10px;
}

.github-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #ff4b4b !important;
    font-weight: 600;
    font-size: 1rem;
}

.stMainBlockContainer {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.st-emotion-cache-6urfhe p {
    font-size: 1rem;
    font-weight: 600;
}

.st-emotion-cache-4cktc5 p {
    margin-bottom: 0.5rem;
}

.st-emotion-cache-1gz5zxc {
    padding: 18px;
}

.custom-footer {
    text-align: center;
    color: #808080;
    font-size: 0.9rem;
}

.custom-footer a {
    text-decoration: none !important
}

.custom-footer a:hover {
    text-decoration: underline !important;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.92);
    }
    70% {
        transform: scale(1.03);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.st-emotion-cache-18kf3ut {
    animation: popIn .45s ease-out;
}